<div>
  <p>
    <strong>Name:</strong>
    <%= flat.name %>
  </p>

  <p class="con">
    <strong>Address:</strong>
    <%= flat.address %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= flat.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= flat.description %>
  </p>

  <p>
    <strong>Guests:</strong>
    <%= flat.guests %>
  </p>
  <p>
    <strong>Listed by:</strong>
    <%= flat.user.nickname %>
  </p>

</div>
