<div id="<%= dom_id flat %>" class="col">
  <div class="card bg-white card-flats">

    <div id="carouselFlat" class="carousel slide">
      <div class="carousel-inner">

        <div class="carousel-item active">
          <%= cl_image_tag flat.photos[0].key, class: "card-img-top d-block w-100", height: 200, crop: :fill %>
        </div>

        <div class="carousel-item">
          <%= cl_image_tag flat.photos[1].key, class: "card-img-top d-block w-100", height: 200, crop: :fill %>
        </div>

        <div class="carousel-item">
          <%= cl_image_tag flat.photos[2].key, class: "card-img-top d-block w-100", height: 200, crop: :fill %>
        </div>

        <div class="carousel-item">
          <%= cl_image_tag flat.photos[3].key, class: "card-img-top d-block w-100", height: 200, crop: :fill %>
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselFlat" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselFlat" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


  <%= link_to flat do %>
    <div class="card-body">
      <p class="card-title"><%= flat.city %>, <%= flat.country %></p>
      <p class="card-text"><%= flat.property_type %></p>
      <div class="d-flex justify-content-between">
        <p class="card-text"><strong>£ <%= flat.price %> night</strong></p>
        <p><i class="fa-solid fa-star"></i> 4.8</p>
      </div>
    </div>
  </div>
  <% end %>
</div>
