<div class="container">

  <div class="row mt-5">
    <div class="col-8">
      <%= render @flat %>
    </div>

    <div class="col-4">
      <div style="width: 100%; height: 300px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <div>
    <%= link_to "Edit this flat", edit_flat_path(@flat) %> |
    <%= link_to "Back to flats", flats_path %>

    <% if @flat.user == current_user %>
      <%= button_to "Destroy this flat", @flat, method: :delete %>
    <% end %>
  </div>

</div>
