
<div class="container py-8" data-controller="insert-review">
  <h2><%= @flat.name %></h2>
  <p> Owner: <%= @flat.user.username %></p>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= cl_image_tag @flat.photos[0].key, class: "d-block w-70" %>

    </div>
    <div class="carousel-item">
        <%= cl_image_tag @flat.photos[1].key, class: "d-block w-70" %>

    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<%# Contact the Owner %>
<% if @flat.user != current_user %>
  <%= simple_form_for [@chatroom], html: {class: "d-flex"} do |f| %>
    <%= f.input :owner_id, :as => :hidden, :input_html => { :value => "#{@flat.user.id}" } %>
    <%= f.input :flat_id, :as => :hidden, :input_html => { :value => "#{@flat.id}" } %>
    <%= f.submit "Contact #{@flat.user.username}", class: "btn btn-primary mb-3" %>
  <% end %>
<% end %>

<hr>

<h2><%= pluralize @flat.reviews.size, "review" %></h2>
<div data-insert-review-target="items">
  <% if @flat.reviews.blank? %>
    Be the first to leave a review for <%= @flat.name %>
  <% else %>
    <% @flat.reviews.each do |review| %>
      <%= render 'flats/review', review: review %>
    <% end %>
  <% end %>
</div>

<h2>leave a Review</h2>
<%= render 'reviews/form', {flat: @flat, review: @review} %>

<%= link_to "Back to all flats", flats_path %>
</div>
