<div class="container w-75">

    <div class="d-flex justify-content-between align-items-center mt-5">
      <h2><%= @flat.name %></h2>
      <%= link_to "Back to flats", flats_path %>
    </div>


  <div class="row g-2">
    <div class="col-7">

      <%= cl_image_tag @flat.photos[1].key, class: 'img-wrap rounded-start-5 w-100', height: 400 %>
    </div>

    <div class="col-5">
      <div class="row g-2">

        <div class="col-6" style="height: 400px;">
          <%= cl_image_tag @flat.photos[1].key, class: 'img-wrap w-100', style: "height: 196px; margin-bottom: 8px"%>
          <%= cl_image_tag @flat.photos[2].key, class: 'img-wrap w-100', style: "height: 196px;"%>
        </div>

        <div class="col-6" style="height: 400px;">
          <%= cl_image_tag @flat.photos[3].key, class: 'img-wrap w-100', style: "height: 196px; border-top-right-radius: 20px; margin-bottom: 8px" %>
          <%= cl_image_tag @flat.photos[4].key, class: 'img-wrap w-100', style: "height: 196px; border-bottom-right-radius: 20px;" %>
        </div>

      </div>

    </div>
  </div>



    <%# FLAT DETAILS %>
    <div class="row my-5">
      <div class="col-lg-8">
        <%= render 'flat_show', flat: @flat %>

        <% if @flat.user == current_user %>
          <div class="d-flex">
            <%= button_to "Remove this flat", @flat, method: :delete, class: "btn btn-danger me-2" %>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal">
              Edit this flat
            </button>
          </div>
        <% end %>
      </div>

      <!-- Button trigger modal -->

    <%# BOOKING FORM %>
      <div class="col-lg-4">
        <%= render 'bookings/form', flat: @flat, booking: @booking %>
      </div>

    </div>

<hr>

<%# MAP %>
  <div class="row my-5">
    <div class="col">
      <h5>Where you’ll be</h5>
      <p><%= @flat.address %></p>
      <div style="width: 100%; height: 300px;"
            class="rounded-5"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <hr>
<%# REVIEWS %>
  <div id="reviews" data-controller="reviews">
    <div class="row">
      <div class="col">
        <% if @flat.reviews.empty? %>
        <h2>No review for <%= @flat.name %> yet...</h2>
        <% else %>
          <h2> ⭐️ <%= @flat.average_rating.round(1)  %> · <%= @flat.reviews.count %> Reviews</h2>
        <% end %>
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-lg-8">

        <div class="row mb-3" data-reviews-target="reviews">

          <% @flat.reviews.each do |review| %>
            <%= render 'reviews/review', review: review %>
          <% end %>
        </div>

      </div>

      <div class="col-lg-4 border-start">
        <%= render 'reviews/form', flat: @flat, review: @review %>
      </div>
    </div>
  </div>





<!-- Modals -->
<%= render 'modal_edit_form', flat: @flat %>
