<div class="container">

  <div class="row mt-5">
    <div class="col">
      <h1><%= @flat.name %></h1>
      <div class="img-wrap rounded-5" style="background-image: url('<%= cl_image_path  @flat.photo.key %>')"></div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div style="width: 100%; height: 300px;"
            class="rounded-5"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

<%# FLAT DETAILS %>
  <div class="row mt-5">
    <div class="col-lg-8">
      <%= render 'flat_show', flat: @flat %>

      <%= link_to "Edit this flat", edit_flat_path(@flat) %> |
      <%= link_to "Back to flats", flats_path %>

      <% if @flat.user == current_user %>
        <%= button_to "Destroy this flat", @flat, method: :delete %>
      <% end %>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
        Launch demo modal
      </button>
    </div>

    <!-- Button trigger modal -->

<%# BOOKING FORM %>
    <div class="col-lg-4">
      <%= render 'bookings/form', flat: @flat, booking: @booking %>
    </div>
  </div>

  <hr>

<%# REVIEWS %>
  <div id="reviews" data-controller="reviews">
    <div class="row">
      <div class="col">
        <% if @flat.reviews.empty? %>
        <h2>No review for <%= @flat.name %> yet...</h2>
        <% else %>
          <h2> ⭐️ <%= @flat.average_rating.round(1)  %> · <%= @flat.reviews.count %> Reviews</h2>
        <% end %>
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-lg-8">

        <div class="row mb-3" data-reviews-target="reviews">

          <% @flat.reviews.each do |review| %>
            <%= render 'reviews/review', review: review %>
          <% end %>
        </div>

      </div>

      <div class="col-lg-4 border-start">
        <%= render 'reviews/form', flat: @flat, review: @review %>
      </div>
    </div>
  </div>


</div>


<!-- Modals -->
<%= render 'modal_edit_form', flat: @flat %>
