<div class="booking-form mb-5" data-controller="flatpicker" data-flatpicker-price-value="<%= flat.price %>">
  <p><strong>£<%= flat.price %> </strong> night </p>
  <%= simple_form_for [flat, booking] do |f| %>

    <div class="row">
    <div class="col-6" >
      <%= f.input :check_in,
                  label: "Check-in/out",
                  input_html: { data: {flatpicker_target: "checkIn"} },
                  disabled: current_user == flat.user  %>
      <%= f.input :start_date,
                  as: :hidden,
                  input_html: { data: { flatpicker_target: "start"} },
                  disabled: current_user == flat.user  %>
      <%= f.input :end_date,
                  as: :hidden,
                  input_html: { data: { flatpicker_target: "end"} },
                  disabled: current_user == flat.user %>
    </div>
    <div class="col-6">
      <%= f.input :guests,
                  collection: 1..10,
                  label: "guests",
                  disabled: current_user == flat.user %>
    </div>
    </div>

    <%= f.input :message, label: false, placeholder: "Leave a message to the owner...", disabled: current_user == flat.user %>
    <%= f.submit 'Reserve', class: "btn btn-info w-100", disabled: current_user == flat.user %>
  <% end %>


  <div class="d-flex justify-content-between mt-4">
    <p><strong>£ <%= flat.price %> x <span data-flatpicker-target="days"></span> days</strong></p>
  </div>

  <hr>

  <div class="d-flex justify-content-between">
    <p class="m-0"><strong>Total</strong></p>
    <p class="m-0"><strong>£ <span data-flatpicker-target="total">0.00</span></strong></p>
</div>
