<div class="container chat">
  <h1>Your booking for <%= @booking.flat.name %></h1>

  <div class="messages" id="messages">
    <% @booking.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>

  <%# FORM %>
  <%= simple_form_for [@booking, @message], html: { class: 'd-flex',
                                                    data: {controller: 'reset-form', action: "submit->reset-form#reset"}}  do |f| %>
    <%= f.input :content, label: false, wrapper_html: {class: "flex-grow-1"}, placeholder: "Message... "%>
    <%= f.submit "Send", class: "btn btn-info mb-3" %>
  <% end %>
</div>
