<%= turbo_stream_from "booking_#{@booking.id}_messages" %>

<%# INTERLOCUTOR %>
<% if @booking.user == current_user  %>
  <% interlocutor =  @booking.flat.user.nickname %>
<% else %>
  <% interlocutor =  @booking.user.nickname %>
<% end %>


<div class="container">

  <div class="row mt-5">

    <div class="col-lg-8">
      <div class="booking-img" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.3)), url('<%= cl_image_path(@booking.flat.photo.key, width: 800, height: 400, crop: :fill) %>')">
        <h2>Your booking for <%= @booking.flat.name %></h2>
      </div>
    </div>

    <div class="col-lg-4 d-flex flex-column justify-content-between">

      <div class="booking-info border">
        <h4><%= @booking.flat.name %></h4>
        <p><i class="fa-solid fa-location-dot"></i>  <%= @booking.flat.address %></p>
        <br>

        <div class="d-flex justify-content-between">
          <p>£ <%= @booking.flat.price %> x <%= @booking.days %> nights</p>
          <p><strong>£ <%= @booking.total_price %></strong></p>
        </div>

        <hr>

        <div class="d-flex justify-content-between">
          <div>
            <p>from:</p>
            <p><strong><%= @booking.start_date.strftime(" %A,") %></strong></p>
            <p><strong><%= @booking.start_date.strftime(" %B %d.") %></strong></p>
          </div>
          <div>
            <p>to:<p>
            <p><strong><%= @booking.end_date.strftime(" %A, ") %></strong></p>
            <p><strong><%= @booking.end_date.strftime(" %B %d.") %></strong></p>
          </div>
        </div>


      </div>

      <div class="booking-info border  mt-3">

        <div class="d-flex align-items-center mb-3">
          <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuXEGCZl1QFq0tSzG7eWbLydP8N69jLNS8Ag&s', class: 'avatar-bordered me-3'%>
          <h5> <%= interlocutor.capitalize %> is your Host</h5>
        </div>
        <div>
          <p>Contact <%= interlocutor.capitalize %> to coordinate arrival time and key exchange</p>
        </div>


        <button class="btn btn-info w-100 mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
          <i class="fa-regular fa-message"></i> Message Host
        </button>
      </div>
    </div>

  </div>

</div>



<%# OFFCANVAS %>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel"><%= interlocutor.capitalize %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="chat">

    <div class="messages" id="messages">
      <% @booking.messages.each do |message| %>
        <%= render 'messages/message', message: message, user: current_user %>
      <% end %>
    </div>

    <%# FORM %>
    <%= simple_form_for [@booking, @message], html: { class: 'd-flex',
                                                      data: {controller: 'reset-form', action: "turbo:submit-end->reset-form#reset"}}  do |f| %>
      <%= f.input :content, label: false, wrapper_html: {class: "flex-grow-1"}, placeholder: "Message... "%>
      <%= f.submit "Send", class: "btn btn-info mb-3" %>
    <% end %>
  </div>

  </div>
</div>
